<div class="layout-container">

  {% if page.espn_menu %}
      <div id="espn-menu" class="content">
        {{ page.espn_menu }}
      </div>
  {% endif %}
  
  <header role="banner">
    {{ page.header }}
    {{ page.primary_menu }}
  </header>

  
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content_top %}
      <div class="layout-content-top">
        {{ page.content_top }}
      </div>
    {% endif %}
    
    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}
    
    

    {% if page.sidebar_left %}
      <aside class="layout-sidebar-left" role="complementary">
        {{ page.sidebar_left }}
      </aside>
    {% endif %}

    {% if page.sidebar_right %}
      <aside class="layout-sidebar-right" role="complementary">
        {{ page.sidebar_right }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>